  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="tarefaFormGroup" label="Preencha os dados da tarefa" labelPosition="bottom">
      <form [formGroup]="tarefaFormGroup">
          <mat-form-field appearance="outline">
            <mat-label>Descricao Sintetica</mat-label>
            <input matInput placeholder="Brevre descricao da tarefa" formControlName="descricaoSintetica" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descricao Sintetica</mat-label>
            <input matInput placeholder="Brevre descricao da tarefa" formControlName="descricaoSintetica" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descricao Sintetica</mat-label>
            <input matInput placeholder="Brevre descricao da tarefa" formControlName="descricaoSintetica" required>
          </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="obraFormGroup">
      <form [formGroup]="obraFormGroup">
        <ng-template matStepLabel>Dados da Obra</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>