<mat-card>
    <mat-toolbar color="primary">Detalhes da tarefa</mat-toolbar>
    <mat-card-content>
        
        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Obra / Departamento" formControlName>        
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput placeholder="Categoria" formControlName="category">        
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Interdependências" formControlName="interdependencias">        
            </mat-form-field>
            
            <div class="left1"> 

            <mat-form-field class="left">
                <input matInput placeholder="Descrição Sintética" formControlName="descricaoSintetica">        
            </mat-form-field>
            
            <mat-form-field class="left">
                <input matInput placeholder="Descrição Analítica" formControlName="descricaoAnalitica">        
            </mat-form-field>
            
            <mat-form-field class="left">
                <input matInput placeholder="Descrição Termino" formControlName="descricaoTermino">        
            </mat-form-field>
            
            <mat-form-field class="left">
                <input matInput placeholder="Documentos anexos" formControlName="caminhoDocumento">        
            </mat-form-field>
    
    <div class="right1">

        <mat-form-field class="right">
            <mat-label>Coordenador</mat-label>
            <mat-select formControlName="coordenador">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Funcionario 1</mat-option>
                <mat-option value="option2">Funcionario 2</mat-option>
                <mat-option value="option3">Funcionario 3</mat-option>
              </mat-select>
        </mat-form-field>
            
        <mat-form-field class="right">
            <mat-label>Executor</mat-label>
            <mat-select formControlName="executor">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Funcionario 1</mat-option>
                <mat-option value="option2">Funcionario 2</mat-option>
                <mat-option value="option3">Funcionario 3</mat-option>
              </mat-select>        
        </mat-form-field>
        
        <mat-form-field class="right">
            <mat-label>Delegador</mat-label>
            <mat-select formControlName="delegador">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Funcionario 1</mat-option>
                <mat-option value="option2">Funcionario 2</mat-option>
                <mat-option value="option3">Funcionario 3</mat-option>
            </mat-select>                
        </mat-form-field>
        
        <mat-form-field class="right">
            <mat-label>Recorrência</mat-label>
            <mat-select formControlName="recorrencia">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Diária</mat-option>
                <mat-option value="option2">Semanal</mat-option>
                <mat-option value="option3">Quinzenal</mat-option>
                <mat-option value="option3">Mensal</mat-option>
            </mat-select>
            </mat-form-field>
        
        <mat-form-field class="right">
            <mat-label>Prioridade</mat-label>
            <mat-select formControlName="prioridade">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Baixa</mat-option>
                <mat-option value="option2">Média</mat-option>
                <mat-option value="option3">Alta</mat-option>
            </mat-select>        
        </mat-form-field>
        
        <mat-form-field class="right">
            <input matInput placeholder="Etapa/Divisão/Ambiente" formControlName="etapa">        
        </mat-form-field>
        
        <mat-form-field class="right">
            <mat-label>Visibilidade</mat-label>
            <mat-select formControlName="visibilidade">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Cadeia</mat-option>
                <mat-option value="option2">Pública</mat-option>
                <mat-option value="option3">Obra/Departamento</mat-option>
                <mat-option value="option3">Add + 1</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="right">
            <input matInput placeholder="Duração" formControlName="duracao">
        </mat-form-field>

        <mat-form-field class="right">
            <mat-label>Agente Final</mat-label>
            <mat-select formControlAgenteFinal="AgenteFinal">
                <mat-option value="null"></mat-option>
                <mat-option value="option1">Funcionario 1</mat-option>
                <mat-option value="option2">Funcionario 2</mat-option>
                <mat-option value="option3">Funcionario 3</mat-option>
            </mat-select>   
        </mat-form-field>

        <mat-form-field class="right">
            <mat-label>Envolver Cliente</mat-label>
            <mat-select formControlName="envolverCliente">
                <mat-option value="false">Não</mat-option>
                <mat-option value="true">Sim</mat-option>
            </mat-select>   
        </mat-form-field>
    </div>

    </div>
</form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()" color="warn">Cancelar</button>
    </mat-card-actions>
        </mat-card>