<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Bravo engenharia <mat-icon>construction</mat-icon></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/nova-tarefa">Nova tarefa</a>
            </li>
            <li>
                <a routerLink="/tarefas">Minhas tarefas</a>
            </li>
            <li>
                <a routerLink="">Meu caixa</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>